body {
  background-color: #eeeeee;
  /* font-family: 'Open Sans', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Dancing Script', cursive; */
}

.font-1 {
  font-family: "Open Sans", sans-serif;
}
.font-2 {
  font-family: "Inconsolata", monospace;
}
.font-3 {
  font-family: "Dancing Script", cursive;
}

/* //dropzone */

.dropZone_custom {
  width: 50% !important;
}
.MuiGrid-spacing-xs-8 {
  width: calc(50% + 64px) !important;
  margin: -32px;
}

.MTableToolbar-spacer-112 {
  display: none !important;
}
.section_container {
  display: flex;

  margin-top: 1em;
}

.wrapper {
  padding: 1em;
  margin: 0 20%;
  width: auto;
}
@media only screen and (max-width: 600px) {
  .section_container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    padding: 1em;
    margin: 0 0 !important;
    width: auto;
  }
}

.colors-container {
  display: flex;
  flex-direction: column;
  width: 110%;
  justify-content: space-between;
}

.colors-container .colors-wrapper {
  display: flex;
  margin: 1em;
  width: 50%;
  justify-content: space-between;
}
.colors-wrapper .colors-info {
  font-size: 1rem;
  color: blue;
  align-self: center;
  margin-right: 10px;
}
